body {
    font-family: fantasy;
    background-attachment: black;
}
/*Background container*/
#container {
    width: 1000px;
    height: 550px;
    margin: 20px auto;
}
/*Calculator box*/
#calculator {
    width: 320px;
    height: 520px;
    background-color: #edbdbd;
    margin: 0 auto;
    position: relative;
    top: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(5, 4, 6, 6);
}

/*Calculator display*/
#result{
    height: 120px;
}

#history{
    text-align: right;
    height: 40px;
    margin: 10px 20px;
    padding: 10px;
    font-size: 20px;
    color: #dda1a1;
    border: #dda1a1;
}
#output{
    text-align: right;
    height: 60px;
    margin: 10px 20px;
    font-size: 30px;
    font-weight: bold;
}

/*Calculator buttons*/
#keyboard {
    height: 400px;
    padding-top: 23px;
}

/*Button styling*/
.operator, .number, .empty
{
    color: #dba1a1;
    width: 50px;
    height: 50px;
    margin: 15px;
    float: left;
    border-radius: 27%;
    border: #dda1a1 2px;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 3px 4px 4px rgb(179, 114, 141);
}
/*number buttons*/
.number{
    cursor: pointer;
}
.number:hover{
    background-color: #ffdcdcc0;
}
/*operator buttons*/
.operator{
    cursor: pointer;
}
.operator:hover{
    background-color: #ffdcdcc0;
}
/*empty buttons*/
.empty{
    cursor: pointer;
}
.empty:hover{
    background-color: #ffdcdcc0;
}

/*Active effect*/
.number:active,
.operator:active {
  transform: scale(0.95);
}

/*Remove outline*/
button:focus {
  outline: none;
}