body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/*About Section Styling*/
#about{
    padding: 50px;
    min-height: 100vh;
    align-items: center;
}
/* Right side text alignment */
.about-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
