body {
  background-color: #f5a8a8;
  color: #fa6e73;
}

/* Social Media Section */
#social-media {
  background-color: #f5a8a8;
}

/* Social Media Cards */
.media_link {
  background-color: #fae4e4;
  padding: 15px 20px;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s ease;
}

/* Icon size */
.media_link i {
  font-size: 24px;
  color: #f87074;
}

.span {
  margin-left: 10px;
  font-weight: 600;
  color: #fa6e73;
}

/* Hover effect */
.media_link:hover {
  background-color: #f88ca0;
}

/* Footer */
footer {
  background-color:#fae4e4
}
